In [1]:
import requests

In [2]:
url = "https://api.tomorrow.io/v4/timelines"
querystring = {
"location":"Kenya",
"fields":["temperature", "cloudCover","humidity","pressureSurfaceLevel","rainIntensity"],
"units":"imperial",
"timesteps":"1d",
"apikey":"U188WPIa9pIzejPlPBU5tDd6kU8WzIrF"}

In [3]:
response = requests.request("GET", url, params=querystring)
print(response.text)

{"data":{"timelines":[{"timestep":"1d","endTime":"2023-11-19T03:00:00Z","startTime":"2023-11-14T03:00:00Z","intervals":[{"startTime":"2023-11-14T03:00:00Z","values":{"cloudCover":100,"humidity":100,"pressureSurfaceLevel":28.85,"rainIntensity":0.12,"temperature":85.08}},{"startTime":"2023-11-15T03:00:00Z","values":{"cloudCover":100,"humidity":97.49,"pressureSurfaceLevel":28.84,"rainIntensity":0,"temperature":87.08}},{"startTime":"2023-11-16T03:00:00Z","values":{"cloudCover":100,"humidity":94.29,"pressureSurfaceLevel":28.86,"rainIntensity":0.09,"temperature":87.45}},{"startTime":"2023-11-17T03:00:00Z","values":{"cloudCover":100,"humidity":93.31,"pressureSurfaceLevel":28.85,"rainIntensity":0.12,"temperature":87.47}},{"startTime":"2023-11-18T03:00:00Z","values":{"cloudCover":89.76,"humidity":78.48,"pressureSurfaceLevel":28.79,"rainIntensity":0.01,"temperature":89.89}},{"startTime":"2023-11-19T03:00:00Z","values":{"cloudCover":40.5,"humidity":77.67,"pressureSurfaceLevel":28.79,"rainIntensity":0,"temperature":86.74}}]}]}}

In [4]:
 print("Weather Forecast")
print("================")
tmp=[]
hm=[]
dt=[]
RI=[]
CV=[]
ps=[]
results = response.json()['data']['timelines'][0]['intervals']
for daily_result in results:
    date = daily_result['startTime'][0:10]
    temp = round(daily_result['values']['temperature'])
    hum=daily_result['values']['humidity']
    cloud=daily_result['values']['cloudCover']
    press=daily_result['values']['pressureSurfaceLevel']
    rain=daily_result['values']['rainIntensity']
    dt.append(date)
    tmp.append(temp)
    hm.append(hum)
    RI.append(rain)
    CV.append(cloud)
    ps.append(press)
    #print("On",date,"it will be", temp, "F","and humidity is",hum)
print(dt)
print(hm)
print(tmp)

Weather Forecast
================
['2023-11-14', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-18', '2023-11-19']
[100, 97.49, 94.29, 93.31, 78.48, 77.67]
[85, 87, 87, 87, 90, 87]

In [6]:
import pandas as pd
data=pd.DataFrame(list(zip(dt,hm,tmp,RI,CV,ps)),columns=['Date','Humidity','Temperature','Rainfall Int','Cloudcover','Pressure'])
data

         Date  Humidity  Temperature  Rainfall Int  Cloudcover  Pressure
0  2023-11-14    100.00           85          0.12      100.00     28.85
1  2023-11-15     97.49           87          0.00      100.00     28.84
2  2023-11-16     94.29           87          0.09      100.00     28.86
3  2023-11-17     93.31           87          0.12      100.00     28.85
4  2023-11-18     78.48           90          0.01       89.76     28.79
5  2023-11-19     77.67           87          0.00       40.50     28.79